---
layout: default
---
<header class="bg-gray-800 text-gray-100">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-14 w-a" src="images/logo.png" alt="">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="<%= relative_url('/') %>" class="text-xl font-semibold text-gray-100">Home</a>
      <a href="<%= relative_url('/about') %>" class="text-xl font-semibold text-gray-100">About</a>
      <a href="<%= relative_url('/posts') %>" class="text-xl font-semibold text-gray-100">Posts</a>
    </div>
  </nav>
</header>
<%= content %>
