---
# Feel free to add content and custom Front Matter to this file.

layout: page
---
<div class="bg-white">
  <div class="relative isolate px-6 lg:px-8 bg-gradient-to-b from-white to-gray-300">
    <div class="mx-auto max-w-3xl py-24 sm:py-40 lg:py-21 text-center">
      <h1 class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">
        Welcome to my internship blog!
      </h1>
      <p class="mt-8 text-lg leading-relaxed text-gray-600 sm:text-xl ">
        This page is where I document my journey through my professional internship. Each post is a step in my learning process, the challenges I’ve encountered, and the solutions I’ve discovered.
        If you want to see what I’ve been working on, the problems I’ve solved, and how I’ve developed my skills, feel free to explore my posts. I hope you’ll find inspiration and knowledge that might come in handy! 🚀
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="/posts" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs transition duration-300 hover:bg-indigo-500 hover:scale-105 focus-visible:outline-2">
          Explore my journey
        </a>
      </div>
    </div>
  </div>
</div>